# Postgres DB
# Name of the Database (Can be left default)
DB_NAME=GoAdventureDB
# DB User (Can be left default for development) (Do NOT leave default for production)
DB_USER=postgres
# DB Password (Can be left default for development) (Do NOT leave default for production)
DB_PASSWORD=postgres
# IP address of DB (If using only DB in container, can be left as 'localhost'). (If both DB and App are in containers, change to Container Service Name (i.e. postgres))
DB_ADDR=localhost
# Port for DB (Can be left default) (Change if default port already in use)
DB_PORT=5432

# Go Server
# Environment of Server. (i.e. 'development' or 'production') (This will be used in logs)
ENV=development
# Name of log file. (Logs will be saved in /logs)
LOG_FILE=GoAdventure.access.log

# Secret
# Secret Key for hashing. (Do NOT leave default)
JWT_SECRET=1234567890abc